
@import "./variables";

// 圆形的圆角
@mixin circle-radius{
    border-radius: 100%;
}


// webkit浏览器和移动端多行超出隐藏解决方案
// $line 行数
@mixin  multiple-lines-ellipsis($line) {
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    // （非规范属性）
    -webkit-line-clamp: #{$line};
    -webkit-box-orient: vertical;
    word-break: break-all; /* 追加这一行代码 */
}


// 遮挡的黑幕mask
@mixin mask() {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: map_get($zindex-lev, 5);
}

// 定位居中
@mixin position-middle() {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

// tranlate居中
@mixin tran-middle() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

// 背景位置在顶部
@mixin bg-top($img-url) {
    background-image: url($img-url);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top;
}

// 子路由页面的page定位。
@mixin chilren-page-position() {
    position: absolute;
    left: 0;
    top: 0;
    z-index: map_get($zindex-lev, 3);
}


// 动画效果
@mixin zoom-animate() {
    // 动画过渡
    .zoom-enter-active {
        transition: all .5s ease;
        transform: scale3d(1, 1, 1);
        opacity: 1;
    }
    .zoom-leave-active {
        transition: all .5s ease;
    }
    .zoom-enter, .zoom-leave-to
        /* .slide-fade-leave-active for below version 2.1.8 */ {
        transform: scale3d(0, 0, 1);
        opacity: 0;
    }
}


@mixin page-slide-left() {
    .slide-left-enter-active {
        transition: all 0.5s ease;
    }
    
    .slide-left-enter {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }
    
    .slide-left-leave-to {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }
    
    .slide-left-leave-active {
        transition: all 0.5s ease;
    }
}

