

// sass变量


// 全局的一些颜色配色，比如字体，背景颜色等

// 配色
$deep-blue: #415362;
$blue: #004ea2;
$gray: #a3a3a3;
$green: #008658;
$orange: #e26c14;

$bg-gray: #4e515a;

// 默认字体颜色。淡黑
$default-color: #484848;

// 下划线灰色
$underline-gray: #ececec;

// 宽度数值

// 一些角度参数值，比如常用的圆角角度


// 常用的字体大小

// 最大
$max-font: 40px;
// 中等 28
$medium-font: 36px;
// page默认大小  25
$default-font: 32px;
// 小号
$small-font: 28px;
// 最小
$mini-font: 24px;

// 最大层级高度

$zindex-lev: (
    '0': 0,  //  低层级  一般用于隐藏在页面之下的层级。
    '1': 100,  // 基础层级 page
    '2': 200,
    '3': 300,  // 基础层级 显示在page之上的层级
    '4': 400,
    '5': 500,  // 基础层级 mask阴影的层级
    '6': 600,
    '7': 700,  // 高层级 mask之上的层级
    '8': 800,
    '9': 900,  // 高层级 特殊层级
    'max': 10000,  // 最高层级
);












